version: "3.8"

services:

  node0:
    image: fsnode
    ports:
      - 8880:8880
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      SOMETHING: node0
    privileged: true

  node1:
    image: fsnode
    ports:
      - 8881:8881
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      SOMETHING: node1
    privileged: true

  node2: 
    image: fsnode
    ports:
      - 8882:8882
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      SOMETHING: node2
    privileged: true

  manager:
    image: rabbitmq:3-management
    ports:
      - 15672:15672 
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      SOMETHING: node-manager
