version: "3.8"

services:

  node0:
    image: fsnode
    ports:
      - 8880:8880
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      RABBITMQ_ERLANG_COOKIE: cookiemonster
      RABBITMQ_NODENAME: rabbit@node0
    privileged: true
    depends_on:
      - "manager"

  node1:
    image: fsnode
    ports:
      - 8881:8881
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      RABBITMQ_ERLANG_COOKIE: cookiemonster
      RABBITMQ_NODENAME: rabbit@node1
    privileged: true
    depends_on:
      - "manager"

  node2: 
    image: fsnode
    ports:
      - 8882:8882
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      RABBITMQ_ERLANG_COOKIE: cookiemonster
      RABBITMQ_NODENAME: rabbit@node2
    privileged: true
    depends_on:
      - "manager"

  manager:
    image: rabbitmq:3-management
    ports:
      - 15672:15672 
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      RABBITMQ_ERLANG_COOKIE: cookiemonster
      RABBITMQ_NODENAME: rabbit@manager
